<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>13.096079826355</real>
		<key>long</key>
		<real>80.29160308837891</real>
		<key>no</key>
		<integer>1</integer>
		<key>title</key>
		<string>Chennai Beach</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.0834903717041</real>
		<key>long</key>
		<real>80.28294372558594</real>
		<key>no</key>
		<integer>2</integer>
		<key>title</key>
		<string>Chennai Fort</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.07964992523193</real>
		<key>long</key>
		<real>80.27693176269531</real>
		<key>no</key>
		<integer>3</integer>
		<key>title</key>
		<string>Park Town</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.07404041290283</real>
		<key>long</key>
		<real>80.27384185791016</real>
		<key>no</key>
		<integer>4</integer>
		<key>title</key>
		<string>Chintadripet</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.06192016601562</real>
		<key>long</key>
		<real>80.28053283691406</real>
		<key>no</key>
		<integer>5</integer>
		<key>title</key>
		<string>Chepak</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.05572986602783</real>
		<key>long</key>
		<real>80.28079223632812</real>
		<key>no</key>
		<integer>6</integer>
		<key>title</key>
		<string>Thiruvallikeni</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.04553031921387</real>
		<key>long</key>
		<real>80.27675628662109</real>
		<key>no</key>
		<integer>7</integer>
		<key>title</key>
		<string>Light House</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.04058361053467</real>
		<key>long</key>
		<real>80.26980590820312</real>
		<key>no</key>
		<integer>8</integer>
		<key>title</key>
		<string>Mundakakanni Koil</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.03491020202637</real>
		<key>long</key>
		<real>80.26706695556641</real>
		<key>no</key>
		<integer>9</integer>
		<key>title</key>
		<string>Thirumayilai</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.02818012237549</real>
		<key>long</key>
		<real>80.26074981689453</real>
		<key>no</key>
		<integer>10</integer>
		<key>title</key>
		<string>Mandaveli</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.02048969268799</real>
		<key>long</key>
		<real>80.251953125</real>
		<key>no</key>
		<integer>11</integer>
		<key>title</key>
		<string>Greenways Road</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.01397037506104</real>
		<key>long</key>
		<real>80.24848175048828</real>
		<key>no</key>
		<integer>12</integer>
		<key>title</key>
		<string>Kotturpuram</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.00539016723633</real>
		<key>long</key>
		<real>80.24774932861328</real>
		<key>no</key>
		<integer>13</integer>
		<key>title</key>
		<string>Kasthurba Nagar</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>12.99648952484131</real>
		<key>long</key>
		<real>80.24976348876953</real>
		<key>no</key>
		<integer>14</integer>
		<key>title</key>
		<string>Indira Nagar</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>12.98966979980469</real>
		<key>long</key>
		<real>80.25160980224609</real>
		<key>no</key>
		<integer>15</integer>
		<key>title</key>
		<string>Thiruvanmiyur</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>12.97881031036377</real>
		<key>long</key>
		<real>80.24124145507812</real>
		<key>no</key>
		<integer>16</integer>
		<key>title</key>
		<string>Tharamani</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>12.97523975372314</real>
		<key>long</key>
		<real>80.23130798339844</real>
		<key>no</key>
		<integer>17</integer>
		<key>title</key>
		<string>Perungudi</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>12.97076034545898</real>
		<key>long</key>
		<real>80.21900939941406</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Velacherry</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>23.622641</real>
		<key>long</key>
		<real>90.49979399999999</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Narayangong</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>25.74486</real>
		<key>long</key>
		<real>89.275589</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Rangpur</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>26.335377</real>
		<key>long</key>
		<real>88.551697</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Panchagarh</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>25.778522</real>
		<key>long</key>
		<real>88.89737700000001</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Saidpur</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>22.723406</real>
		<key>long</key>
		<real>89.07512699999999</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Satkhira</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>22.3419</real>
		<key>long</key>
		<real>91.81553599999999</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Chittagong</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>24.923025</real>
		<key>long</key>
		<real>89.95011100000001</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>JamalPur</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>23.911522</real>
		<key>long</key>
		<real>90.38896200000001</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Tongi</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>23.015913</real>
		<key>long</key>
		<real>91.397583</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Feni</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>24.743448</real>
		<key>long</key>
		<real>90.39838399999999</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Mymensing</string>
	</dict>
</array>
</plist>
